<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentAnswerMapper">

    <!--批量新增答题记录-->
    <insert id="batchInsert">
        insert into student_answer(exam_id, student_id, question_id, student_answer, correct_answer, is_correct, question_score, create_time, update_time)
        values
        <foreach collection="list" item="answer" separator=",">
            (#{answer.examId}, #{answer.studentId}, #{answer.questionId}, #{answer.studentAnswer}, #{answer.correctAnswer}, #{answer.isCorrect}, #{answer.questionScore}, #{answer.createTime}, #{answer.updateTime})
        </foreach>
    </insert>

</mapper>
